nav{
    background-image: linear-gradient(to right,#950b0b, #440606);
    color: white;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

ul{
    display: flex;
    justify-content: space-between;
    flex: 0 1 20%;
    margin: 0;
}